<button
  [ngClass]="{ 'card--is-flipped': flipped }"
  class="card block h-full w-full relative rounded-md">
  <span class="sr-only">{{ assistiveDescription() }}</span>
  <div class="card__front-side top-0 absolute h-full w-full rounded-md overflow-hidden">
    <!-- image is only a visual representation of card name and does not need alt attribute -->
    <img class="h-full w-full object-cover" [src]="src" alt="" />
  </div>
  <div class="card__back-side absolute bg-gray-300 h-full w-full top-0 rounded-md flex items-center justify-center">
    <mat-icon class="">live_help</mat-icon>
  </div>
</button>
