.card-grid {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(4, minmax(3.5rem, 5rem));
  width: fit-content;
}

app-card {
  font-size: 0.7rem;
}

@media  screen and (min-width: 425px) {
  .card-grid {
    grid-template-columns: repeat(5, minmax(3.5rem, 5rem));
  }
}

@media  screen and (min-width: 768px) {

  .card-grid {
    grid-template-columns: repeat(8, minmax(3.5rem, 4.7rem));
  }
}
